@font-face {
    font-family: '6809';
    src: url('/fonts/6809-Chargen.woff2');
}

/*noinspection CssInvalidPseudoSelector*/
.no-media-controls::-webkit-media-controls {
    display: none !important;
}

html {
    /* force full size for Firefox */
    width: 100%;
    height: 100%;
}

body {
    background-image: url('../img/background.jpg');
    background-repeat: repeat;
    /* Force portrait orientation */
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

#gamebody {
    display: flex !important;
    flex-direction: column;
    visibility: visible !important;
    opacity: 1 !important;
    z-index: 100;

    overflow: hidden;
    width: 360px;
    height: 700px;

    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);

    background-color: #e5e5e5;
    background-image: none;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    border-radius: 24px;
    border: 2px solid #888;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);

    user-select: none;
}

#help-overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
}

#help-overlay-background {
    width: 100%;
    height: 100%;
    position: absolute;

    background-color: gray;
    opacity: 0.4;
}

#help-overlay-detail {
    width: 100%;
    height: 100%;
    position: absolute;

    background-image: url('../img/help_overlay.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

#controls-right {
    position: absolute;
    bottom: 20px;
    right: 20px;
    z-index: 5;
}


#circle-pad-holder {
    display: block;
    width: 100px;
    height: 100px;
    position: absolute;
    bottom: 100px;
    left: 22px;
    background-size: contain;
    background-image: url('../img/ui/bt MOVE.png');
    z-index: 5;
}

.dpad-empty {
    background-image: url('../img/ui/bt MOVE EMPTY.png') !important;
}

#guide-txt {
    color: #979797;
    font-size: 8px;
    bottom: 5px;
    left: 60px;
    position: absolute;
    max-width: 240px;
    text-align: center;
    user-select: none;
    z-index: 5;
}

#circle-pad {
    display: block;
    width: 70px;
    height: 70px;
    position: absolute;
    background-size: contain;
    top: 15px;
    left: 15px;

    pointer-events: none;

    opacity: 0.5;
    background-image: url('../img/ui/bong.png');
}


.bong-full {
    opacity: 1.0 !important;
    background-image: url('../img/ui/bong full.png') !important;
}

.dpad {
    width: 20px;
    height: 20px;
    display: block;
    position: absolute;
}

#player-index {
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url('../img/ui/bt PlayerIndex.png');
}

#btn-up {
    top: 18px;
    left: 50%;
    border-bottom: 0;
    border-radius: 3px;
    transform: translateX(-50%);
}

#btn-down {
    bottom: 18px;
    left: 50%;
    border-top: 0;
    border-radius: 3px;
    transform: translateX(-50%);
}


#btn-left {
    left: 18px;
    top: 50%;
    border-right: 0;
    border-radius: 3px;
    transform: translateY(-50%);
}

#btn-right {
    right: 18px;
    top: 50%;
    border-left: 0;
    border-radius: 3px;
    transform: translateY(-50%);
}

#color-button-holder {
    display: block;
    width: 120px;
    height: 120px;
    position: absolute;
    bottom: 60px;
    right: 30px;
    z-index: 5;
}

.btn {
    display: block;
    padding-top: 10px;
    text-align: center;
    width: 40px;
    height: 30px;
    background-size: contain;
    position: absolute;
    background-repeat: no-repeat;
}


.btn.big {
    display: block;
    padding-top: 5px;
    text-align: center;
    width: 100px;
    height: 25px;
    position: absolute;
}

#btn-help {
    padding-top: 0;
    width: 20px;
    height: 28px;

    bottom: 20px;
    left: 23px;

    background-image: url('../img/ui/Help.png');
    z-index: 5;
}

#btn-load {
    bottom: 230px;
    right: 20px;

    background-image: url('../img/ui/bt LOAD.png');
    z-index: 5;
}

#btn-save {
    bottom: 190px;
    right: 20px;

    background-image: url('../img/ui/bt SAVE.png');
    z-index: 5;
}

#btn-join {
    width: 46px;
    bottom: 200px;
    left: 22px;
    height: 25px;

    background-image: url('../img/ui/bt SHARE.png');
    z-index: 5;
}

#btn-quit {
    width: 46px;
    bottom: 160px;
    left: 22px;
    height: 25px;

    background-image: url('../img/ui/bt QUIT.png');
    z-index: 5;
}

#btn-rec {
    width: 36px;
    top: 2px;
    left: 373px;
    height: 9px;

    background-image: url('../img/ui/bt REC.png');
}

.record-user {
    display: block;
    position: relative;
    top: 0px;
    left: -10px;
    width: 36px;
    height: 10px;
    background-image: url('../img/ui/FrameTEXT.png');
}

.record:before {
    position: absolute;
    content: '';
    background-color: #FF0000;
    border-radius: 50%;
    width: 5px;
    height: 5px;
    pointer-events: none;
    left: 4px;
    top: 7px;
}

.record.blink:before {
    animation: blinker 1s linear infinite;
}

@keyframes blinker {
    50% {
        opacity: 0;
    }
}


#btn-select {
    top: auto;
    bottom: 180px;
    right: 20px;

    background-image: url('../img/ui/bt SELECT.png');
    z-index: 5;
}

#btn-start {
    top: auto;
    bottom: 140px;
    right: 20px;

    background-image: url('../img/ui/bt START.png');
    z-index: 5;
}

#btn-a {
    top: auto;
    bottom: 60px;
    right: 70px;
    width: 40px;
    height: 40px;
    padding: 0;
    border-radius: 50%;
    background-image: url('../img/ui/bt A.png');
    z-index: 5;
}


#btn-b {
    top: auto;
    bottom: 20px;
    right: 110px;
    width: 40px;
    height: 40px;
    padding: 0;
    border-radius: 50%;
    background-image: url('../img/ui/bt B.png');
    z-index: 5;
}

#btn-x {
    top: auto;
    bottom: 100px;
    right: 110px;
    width: 40px;
    height: 40px;
    padding: 0;
    border-radius: 50%;
    background-image: url('../img/ui/bt X.png');
    z-index: 5;
}


#btn-y {
    top: auto;
    bottom: 60px;
    right: 150px;
    width: 40px;
    height: 40px;
    padding: 0;
    border-radius: 50%;
    background-image: url('../img/ui/bt Y.png');
    z-index: 5;
}

#btn-settings {
    top: auto;
    bottom: 265px;
    left: 22px;
    background-image: url('../img/ui/bt OPTIONS.png');
    z-index: 5;
}

#lights-holder {
    display: block;
    width: 45px;
    height: 10px;
    position: absolute;
    top: 0;
    left: 460px;
}

#room-txt {
    position: absolute;
    padding-left: 6px;
    font-size: 12px;
    width: 109px;
    top: 5px;
    left: 265px;
    color: #888888;
    border-radius: 6px;
    outline: none;
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: hidden;
    background-image: url('../img/ui/FrameTEXT.png');
    background-size: cover;
}


.pressed {
    filter: brightness(50%);
}

.dpad-pressed {
    background-color: #333 !important;
    opacity: 0.75;
}

.game-screen {
    position: relative;
    object-fit: contain;
    width: inherit;
    height: inherit;
    background-color: #101010;
}

#menu-screen {
    display: flex;
    flex-direction: column;
    width: 240px;
    height: 320px;
    max-width: 240px;
    max-height: 320px;
    overflow-y: auto;
    overflow-x: hidden;

    background-color: #000000;
    background-image: url('../img/screen_background5.png');
    background-size: cover;
}



#menu-item-choice {
    display: flex;
    flex-direction: column;
    width: 200px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.9);
    border: 2px solid #a5c89f;
    border-radius: 5px;
    padding: 10px;
    z-index: 10;
}


#menu-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 15px 5px;
    overflow-y: auto;
    max-height: 280px; /* Allow room for possible header/footer */
}

.menu-item {
    display: flex;
    flex-direction: column;
    padding: 8px 5px;
    margin-bottom: 5px;
    background-color: rgba(165, 200, 159, 0.2);
    border-radius: 5px;
    cursor: pointer;
}

.menu-item:hover {
    background-color: rgba(165, 200, 159, 0.4);
}

.menu-item div:first-child {
    overflow: hidden;
    width: 100%;
}

.menu-item div span {
    display: block;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: center;
    color: white;
    font-family: '6809', monospace;
    font-size: 14px;
}

.menu-item div .pick {
    color: #a5c89f;
}

.menu-item__info {
    margin-top: 3px;
    font-size: 10px;
    color: #888;
    text-align: center;
}

#noti-box {
    display: none;
    padding: 8px 15px;
    background-color: #a5c89f;
    position: absolute;
    border: 1px solid #333;
    border-radius: 15px;
    color: #333;
    
    left: 50%;
    transform: translateX(-50%);
    bottom: 80px;
    
    font-size: 12px;
    font-family: '6809', monospace;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    z-index: 100;
}

#slider-playeridx {
    position: absolute;
    top: auto;
    bottom: 230px;
    left: 22px;
    width: 120px;
    height: 15px;
    z-index: 5;
}

/* The slider itself */
.slider {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 15px;
    outline: none;
    background-image: url('../img/ui/FramePlayerIndex.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

/* Mouse-over effects */
.slider:hover {
    opacity: 1; /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url('../img/ui/bt PlayerIndex.png');
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border: none;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url('../img/ui/bt PlayerIndex.png');
    cursor: pointer;
}

* {
    touch-action: manipulation;
}

.dpad-toggle-label {
    position: absolute;
    bottom: 60px;
    left: 100px;
    width: 30px;
    height: 15px;
    z-index: 5;
}

.dpad-toggle-label input {
    opacity: 0;
    width: 0;
    height: 0;
}

.dpad-toggle-slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #515151;
    transition: .4s;
    border-radius: 20px;
}

.dpad-toggle-slider:before {
    position: absolute;
    content: "";
    height: 14px;
    width: 14px;
    left: 3px;
    bottom: 3px;
    background-color: #5f5f5f;
    transition: .4s;
    border-radius: 50%;
}

input:checked + .dpad-toggle-slider {
    background-color: #515151;
}

input:checked + .dpad-toggle-slider:before {
    transform: translateX(15px);
}

.source {
    position: fixed;
    bottom: 5px;
    right: 5px;
    color: #dddddd;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.source a {
    color: #dddddd;
}

#w {
    top: auto;
    bottom: 285px;
    left: 22px;
    z-index: 5;
}
